<div *ngIf="isOpened" class="modal-container" (click)="closeModal($event)">
  <div class="modal">
    <header class="modal__header actee-bottom-margin">
      <ng-content select="[header]"></ng-content>
    </header>
    <section class="modal__main-section">
      <ng-content select="[section]"></ng-content>
    </section>

    <section class="modal__additional-section actee-padding">
      <ng-content select="[additionalSection]"></ng-content>
    </section>

    <footer class="modal__footer actee-padding">
       <div><button *ngIf="options?.isSaveEnabled">Save</button></div>
        <div><button *ngIf="options?.isClosedEnabled" (click)="closeModal()">Close</button></div>
    </footer>
  </div>
</div>
